*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;   
}

main {
    max-width: 500px;
    margin: 1rem auto;        
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: .5rem 0 1rem 0;
}

form {
    background-color: #ddd;
    color: #111;
    padding: 1rem;
}

.quiz-item {
    margin-bottom: 1rem;      
}

input,
textarea,
select {
    padding: .75rem;
    width: 100%;              
    margin-top: .5rem;
}

textarea {
    resize: vertical;
}

code {
    display: block;
    background-color: #333;   
    color: #fff;              
    padding: .5rem;
    margin: .5rem 0;
}

button{
    background-color: navy;
    color: #fff;
    margin: 1rem auto 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: .75rem;          
    width: 100%;              
    cursor: pointer;
}